body {
	font-family: "Open Sans";
}

nav {
	background-color: #FFFF;
	/*padding: atas kanan bawah kiri*/
	/*kalo bawah atas bawah dan kiri kanan*/
	padding: 20px 0px ;
	height: 60px;
	position : fixed;
	width: 100% ;
	top: 0px;
	left: 0px;
	box-shadow: 10px 10px 10px #ddd;
	
}

ul {
	list-style-type: none;
	padding: 0px;
	float: right;
	margin: 0;
}

nav ul li{
	display: inline-block;
	padding: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 30px;
}

#navbar-logo{
	padding-left: 10px;
	height: 60px;
	position: fixed;
	width: 60px ;
	margin-left: 16px;
}

a {
	text-decoration: none;
	color: black ;
}

.kosong {
	height: 60px;
}

.section {
	padding: 40px;
}
.section h3 {
	padding-top: 120px;
	margin: 0;
}

.section h1{
	margin-top: 0;

}

.section p {
	margin-top: 10px;
	color: #6f6f6f;
	font-size: 14px;
}

#identitas {
	width: 50%;
}

#info_utama{
	display: flex;
}

#identitas p{
	margin-top: 10px;
	color: #6f6f6f;
	font-size: 14px;
}


#gamabaridentitas {
	margin-top: 10%;
	width: 50%;
	
}
#gamabaridentitas img {
	border-radius: 20px;
	width: 80%;
	height: 80%;
	margin-left: 48px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.call-me {
	padding: 12px 32px;
	background-color: #fff;
	color: #ff7b51;
	margin-top: 16px;
	border-radius: 32px;
	border : 1px solid #ff7b51;

	transition: 0.3s;
}

.call-me:hover {
	box-shadow: 0px 10px 20px #ddd;
	background-color: #ff7b51;
	color: white;
	transition: 0.3s;
}

.judul-tengah{
	text-align: center;
}

.judul-tengah h2{
	text-align: center;
	margin-top: 12%;
	text-transform: uppercase;
}

.footer {
	position: fixed;
	width: 100% ;
	height: 30px;
	bottom: 0;
	background: #FFFF;
}

.footer p {
	text-align: center;
	top: 0;
	margin: 0;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 80px;
  margin-top: 8%;
  border-radius: 15px;	
  

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img{
	width: 250px;
	border-radius: 15px 15px 0 0;
}
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

#keahlian {
	display: flex;
}

#skill1 {
	width: 33%;

#skill2 {
	width: 33%;
}

#skill3 {
	width: 33%;
}